<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pista ba Webshopja</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/content.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/js/index.js" defer></script>
    <script src="/static/js/cart.js" defer></script>
</head>

<body>

<div class="header">
    <span class="brand">
        <span>Pista Ba Gazdaboltja</span>
        <span><img src="static/assets/leaf.png"></span>
        <span><img src="static/assets/apple.png"></span>
        <span><img src="static/assets/shovel.png"></span>
    </span>
</div>

<div class="content">
    <ul>
        <li class="listItem" th:each="lineItem,iterStat : ${lineItems}">

            <!-- Name -->
            <div th:text="${lineItem.getProduct().getName()}">Name</div>

            <!-- Quantity -->
            <div>Quantity: </div>
            <div class="amount" th:text="${lineItem.getAmount()}">5</div>

            <!-- Unit price -->
            <div class="price" th:text="${lineItem.getProduct().getDefaultPrice()}">99.9</div>
            <div th:text="${lineItem.getProduct().getDefaultCurrency()}"></div>

            <!-- Subtotal price -->
            <div>Subtotal price: </div>
            <div class="subtotal" th:text="${lineItem.getProduct().getDefaultPrice()} * ${lineItem.getAmount()}">199.9</div>
            <div th:text="${lineItem.getProduct().getDefaultCurrency()}"></div>

            <!-- Edit item -->
            <a class="plus"  href="#" th:attr="data-id=${lineItem.id}">+</a>
            <a class="minus" href="#" th:attr="data-id=${lineItem.id}">-</a>
            <a class="remove" href="#" th:attr="data-id=${lineItem.id}">REMOVE</a>
        </li>

    </ul>
    <div>Total price: </div>
    <div class="total"></div>

</div>
<a href="/">Back</a>
<a href="/checkout">Checkout</a>

<!--<div th:replace="footer.html :: copy"></div>-->

</body>
</html>