.content {
    padding-top: 60px;
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: lightgrey;
}

.col {
    padding: 30px 0 30px 150px;

}

input {
    width: 300px;
}

#shipping-same{
    width: 30px;
    font-size: xx-large;
    zoom: 1.5;
    margin-top: 10px;
}

label {
    margin-top: 10px;
}

.bottom-nav {
    width: 100%;
    background-color: green;
    height: 45px;
    font-size: xx-large;
}

.bottom-nav a , .bottom-nav button{
    margin: 0 30px 0 30px;
    border: none;
    height: 36px;
    padding: 0 5px 0 5px;
    text-decoration: none;
    background-color: white;
    color: green;
}

.bottom-nav button {
    margin-top: 4px;
    float: right;
}