.content {
    padding-top: 60px;
}

.advertising {
    width: 100%;
    background-color: lightgrey;
    height: 400px;
}

.ad_img {
    background: url("../assets/ad_gumicsizma.jpg") no-repeat center;
    background-size: contain;
    height: inherit;
}

.ad_img span {
    float: right;
    color: white;
    padding-top: 150px;
    font-family: 'Chela One', cursive;
    font-size: 60px;
    margin-right: 40px;
}

.products {
    margin: auto;
    width: 80%;
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.products .row {
    margin: unset;
    padding: 5px;
}

.item {
    padding: 10px;
}

.thumbnail {
    margin: unset;
    border: 1px solid lightgrey;
}

.thumbnail img {
    display: inline-block;
    width: 50%;
}

.caption {
    display: inline-block;
    width: 49%;
}

.col {
    padding: 0;
}

.col button {
    float: right;
    color: green;
    font-size: larger;
    border-radius: unset;
    padding: 3px;
    border: 1px solid green;
    background: white;
}

.col button:hover {
    color: white;
    background: green;
}